<form class="ui form container" [formGroup]="form" (submit)="onSubmit()">
    <h3>Create an account</h3>
    <div class="field">
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Username">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Password">
    </div>
    <div class="field">
      <label>Retype Password</label>
      <input type="password" formControlName="passwordConfirm" placeholder="Retype Password">
    </div>
    <button class="ui button" type="submit" >Submit</button>
</form>